* {
  margin: 0;
  padding: 0;
}
.header {
  width: 7.2rem;
  height: 0.88rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.header .leftside {
  margin-left: 0.2rem;
}
.header .leftside img {
  display: block;
  width: 0.15rem;
  height: 0.31rem;
}
.header h1 {
  font-size: 0.38rem;
  font-weight: normal;
}
.header h1 span {
  margin-left: 0.15rem;
  display: inline-block;
  border: 0.05rem solid transparent;
  border-top-color: #666666;
  vertical-align: middle;
}
.header .rightside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .rightside .login img {
  display: block;
  width: 0.33rem;
  height: 0.38rem;
}
.header .rightside .menu img {
  display: block;
  width: 0.36rem;
  height: 0.38rem;
  margin: 0 0.2rem 0 0.28rem;
}
.nav {
  width: 7.2rem;
  margin: 0 auto;
}
.nav h1 {
  font-size: 0.36rem;
  font-weight: normal;
  text-align: center;
  color: #333333;
  line-height: 0.94rem;
}
.nav p {
  display: flex;
  justify-content: space-between;
  font-size: 0.2rem;
  line-height: 0.36rem;
  padding-left: 0.92rem;
  padding-right: 0.9rem;
  color: #999;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #ccc;
}
.nav p i {
  display: block;
  font-style: normal;
}
.nav p .jielun {
  width: 0.24rem;
  height: 0.24rem;
}
.nav p .eye {
  width: 0.28rem;
  height: 0.18rem;
}
.nav p img {
  width: 0.18rem;
  height: 0.18rem;
  margin-right: 0.02rem;
  vertical-align: middle;
}
.content {
  width: 7.2rem;
  margin: 0 auto;
  padding-top: 0.24rem;
  margin-bottom: 0.35rem;
}
.content p {
  width: 6.65rem;
  margin: 0 auto;
  font-size: 0.3rem;
  color: #666666;
  line-height: 0.61rem;
}
.content img {
  display: block;
  width: 6.4rem;
  height: 3.8rem;
  margin: 0 auto;
  margin-top: 0.15rem;
  margin-bottom: 0.17rem;
}
.footer {
  width: 7.2rem;
  margin: 0 auto;
}
.footer .discuss h3 {
  font-size: 0.24rem;
  text-align: center;
  line-height: 0.24rem;
}
.footer .discuss h3 img {
  vertical-align: top;
  height: 0.23rem;
  width: 0.26rem;
  margin-left: 0.45rem;
  margin-right: 0.15rem;
}
.footer .discuss .share {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
}
.footer .discuss .share img {
  width: 0.45rem;
  height: 0.45rem;
}
.footer .discuss i {
  font-style: normal;
  font-size: 0.34rem;
  line-height: 0.84rem;
  margin-left: 0.3rem;
}
.footer .discuss .adddiscuss {
  display: flex;
  padding-left: 0.3rem;
  margin-bottom: 0.15rem;
}
.footer .discuss .adddiscuss input[type=text] {
  width: 5.38rem;
  height: 1.12rem;
  border: 0.02rem  solid #e7e7e7;
  outline: none;
}
.footer .discuss .adddiscuss input[type=submit] {
  width: 1.2rem;
  height: 1.16rem;
  background-color: #ff6600;
  color: #fff;
  border: none;
  outline: none;
}
.footer .discuss .alldiscuss {
  font-size: 0.34rem;
  line-height: 0.84rem;
  width: 6.6rem;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.1rem;
}
.footer .discuss .discussion {
  padding-left: 1.1rem;
  border-bottom: 1px solid #ccc;
  background: url(../images/tuzi.jpg) no-repeat 0.3rem 0.15rem;
  background-size: 0.59rem 0.59rem;
}
.footer .discuss .discussion .top {
  display: flex;
  justify-content: space-between;
}
.footer .discuss .discussion .top .left {
  font-size: 0.24rem;
  line-height: 0.51rem;
  color: #ff6600;
}
.footer .discuss .discussion .top .right {
  font-size: 0.2rem;
  padding-right: 0.3rem;
}
.footer .discuss .discussion .top .right span {
  margin: 0 0.08rem;
}
.footer .discuss .discussion .top .right span img {
  width: 0.18rem;
  height: 0.18rem;
  margin-right: 0.03rem;
}
.footer .discuss .discussion .center {
  font-size: 0.2rem;
}
.footer .discuss .discussion .bottom {
  font-size: 0.24rem;
  line-height: 0.8rem;
}
